@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500&family=Teko&display=swap');


*
{
    margin: 0;
    padding: 0;
}

html,
body
{
    height: auto;
    width: auto;
    font-family: 'Poppins', sans-serif;
    color: #fff;
    scroll-behavior: smooth;
}


/* Placeholder */
::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #fff;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #fff;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #fff;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    #fff;
}
::-ms-input-placeholder { /* Microsoft Edge */
   color:    #fff;
}

::placeholder { /* Most modern browsers support this now. */
   color:    #fff;
   opacity: 1;
}

/* Style the scrollbar */
::-webkit-scrollbar {
    width: 8px;
    background-color: #fff;
}
  
/* Style the thumb */
::-webkit-scrollbar-thumb {
    background-color: #aaa;
    border-radius: 10px;
}
  
/* Style the track */
::-webkit-scrollbar-track {
    background-color: #fff;
}
  
/* Style the buttons */
::-webkit-scrollbar-button {
    background-color: #fff;
}


.webgl
{
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
}

canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.container {
    position: relative;
    z-index: 2;
    width: 100%;
    height: 100vh;
    display: grid;
    place-content: center;
}

a {
    text-decoration: none;
    color: #fff;
}

h1 {
    font-size: 3rem;
    width: 20vw;
    line-height: 97%;
    text-align: right;
}

p {
    font-size: 1rem;
    width: 40vw;
    padding-left: 20px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Navbar */

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    z-index: 999;
    align-items: center;
    justify-content: right;
    width: 99%;
}
    
header .activator {
    padding: 1em;
    border-radius: 100%;
    cursor: pointer;
    width: 30px;
    max-width: 45px;
}
    
header .activator:hover {
    background: rgb(30,33,41);
}
    


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
    
nav {
    padding: .5em;
    clip-path: ellipse(0 0 at 50% 50%);
}   
    
nav ul {
    display: flex;
    align-items: center;
    justify-content: center;
}
    
nav li a {
    display: block;
    padding: .5em;
    margin: 0 .5em;
    border-radius: 50%;
    text-decoration: none;
    color: #fff;
    font-weight: 200;
    font-size: 1em;
    transition: 0.3s ease-in-out;
    text-shadow: white 0px 0px 10px;
}
    
nav li a:hover {
    background: rgb(50,56,68);
}
    
nav li a img {
    opacity: 0;
}

/* Home section */

.home {
    display: flex;
    gap: 5em;
    width: 100%;
    padding-top: 3em;
    position: relative;
}

.home::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    border-bottom: 1px solid #fff;
    transform: scaleX(1);
}

.home h1, p {
    flex-basis: 0;
    flex-grow: 1;
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
}

.home h1  {
    font-weight: 200;
}

.home h1 span {
    font-weight: 400;
}
.home p {
    font-weight: 100;
    font-size: 4rem !important;
    text-shadow: white 0px 0px 10px;
}

/* About section */

.about {
    display: flex;
    gap: 5em;
    width: 100%;
    padding-top: 3em;
    position: relative;
}


.about::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    border-bottom: 1px solid #fff;
    transform: scaleX(1);
}

.about h1 {
    flex-basis: 0;
    flex-grow: 1;
    font-weight: 400;
    width: 50%;
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
}

.about p {
    flex-basis: 0;
    flex-grow: 1;
    font-size: 20px !important;
    overflow: auto;
    text-align: justify;
    font-weight: 200;
    clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
    text-shadow: white 0px 0px 10px;
} 

.text-container {
    height: 100%;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
}

.home .text-container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-left: 1px solid #fff;
    transform: scaleY(1);
}
.about .text-container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-left: 1px solid #fff;
    transform: scaleY(1);
}
.testimonials .text-container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-left: 1px solid #fff;
    transform: scaleY(1);
}
.projects .text-container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-left: 1px solid #fff;
    transform: scaleY(1);
}
.certificates .text-container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-left: 1px solid #fff;
    transform: scaleY(1);
}
.contact .text-container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-left: 1px solid #fff;
    transform: scaleY(1);
}



/* Testimonials section */

.testimonials {
    display: flex;
    gap: 2em;
    width: 100%;
    padding-top: 3em;
    position: relative;
}


.testimonials::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    border-bottom: 1px solid #fff;
    transform: scaleX(1);
}

.testimonials h1 {
    flex-basis: 0;
    flex-grow: 1;
    font-weight: 400;
    width: 100%;
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
}

.testimonials #head {
    font-size: 22px;
    font-weight: 500;
    text-shadow: white 0px 0px 10px;
}

.testimonials #title {
    font-size: 20px;
    font-weight: 400;
    text-shadow: white 0px 0px 10px;
}

.testimonials #work-time {
    font-size: 18px;
    font-weight: 200;
    text-shadow: white 0px 0px 10px;
}

.testimonials #description {
    font-size: 20px;
    font-weight: 300;
    text-shadow: white 0px 0px 10px;
}


/* Projects section */
.projects {
    display: flex;
    gap: 2em;
    width: 100%;
    padding-top: 3em;
    position: relative;
}


.projects::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    border-bottom: 1px solid #fff;
    transform: scaleX(1);
}

.projects a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    transition: 0.3s ease-in-out;
}

.projects a:hover {
    transform: scale(1.1);
}

.projects ul {
    margin-top: 10px;
}
.projects ul li {
    display: inline;
}

.projects a i {
    font-size: 2rem;
    color: black;
}


.projects h1,
.certificates h1 {
    flex-basis: 0;
    flex-grow: 1;
    font-weight: 400;
    width: 100%;
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
}


.projects .card,
.certificates .card {
    color: #fff;
    text-align: center;
    transition: all 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 95%;
    width: 95%;
    border: 1px solid rgba(255, 255, 255, 1);
    overflow: hidden;
    position: relative;
    z-index: 900;
    background: rgba(0, 0, 0, 0);
    backdrop-filter: blur(20px); 
}


.projects .card::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.5;
    z-index: 1;
    background: linear-gradient(rgba(255, 255, 255, 1), rgba(255, 255, 255, 1));
    transform: translateY(100%);
    transition: 0.5s ease;
}
  
.projects .card:hover::before,
.certificates .card:hover::before {
    transform: translateY(0);
}

.projects .card img,
.certificates .card img {
    width: 100%;
    height: 100%;
    transition: 0.5s ease;
}


.projects .card:hover img {
    transform: scale(1.1);
}


.projects .card .text {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(255, 255, 255, 1), rgba(255, 255, 255, 1));
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transform: translateY(100%);
    transition: 0.5s ease;
    color: #111;
}

.projects .card:hover .text,
.certificates .card:hover .text {
    transform: translateY(0);
    z-index: 950;

}

.certificates .card:hover .text {
    cursor: pointer;
}


/* Certificates section */
.certificates {
    display: flex;
    gap: 2em;
    width: 100%;
    padding-top: 3em;
    position: relative;
}


.certificates::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    border-bottom: 1px solid #fff;
    transform: scaleX(1);
}

.certificates .card::before{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.5;
    z-index: 1;
    transform: translateY(100%);
    transition: 0.5s ease;
}

 
.certificates .card .text {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transform: translateY(100%);
    transition: 0.5s ease;
    color: #111;
}


/* Certificates pop up */
.modal {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    z-index: 999;
    overflow: auto;
    opacity: 0;
    pointer-events: none;

}

.modalContent {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.modalImg {
    width: 80%;
    max-width: 700px;
}


.close {
    position: absolute;
    top: 3em;
    right: 3em;
    font-size: 1.5em;
    cursor: pointer;
}

.modal.appear {
    opacity: 1;
    pointer-events: all;
}

.modal.appear .modalImg {
    animation: zoom 0.3s linear;
}

@keyframes zoom {
    from {
      transform: scale(0);
    }
    to {
      transform: scale(1);
    }
}

/* Contact sections */


.contact {
    display: flex;
    gap: 5em;
    padding-top: 3em;
    width: 100%;
    position: relative;
}


.contact::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    border-bottom: 1px solid #fff;
    transform: scaleX(1);
}

.contact h1 {
    flex-basis: 0;
    flex-grow: 1;
    font-weight: 400;
    width: 100%;
    text-align: right;
    padding-bottom: 2em;
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
}

.contact-content {
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    text-align: right;
}

.contact li {
    padding-bottom: 20px;
    font-size: 20px;
}

.contact a {
    transition: 0.3s ease-in-out;
}

.contact a:hover {
    color: rgb(204, 42, 42)
}


.contact .head {
    font-weight: 500;
}

.contact .text {
    font-weight: 200;
}


.contact .fields .field input { 
    width: 80em;
    height: 100%;
    padding: 20px;
    background: transparent;
    border: 1px solid white;
    color: #fff;
    text-shadow: white 0px 0px 10px;
}

.contact .fields .field textarea { 
    width: 96%;
    height: 100%;
    padding: 20px;
    background: rgba(0, 0, 0, 0);
    border: 1px solid white;
    font-size: 16px;
    color: #fff;
    text-shadow: white 0px 0px 10px;
}

.contact .fields .field {
    padding-bottom: 20px;
}


.contact .fields .submit button {
    height: 100%;
    width: 50%;
    padding: 10px;
    background: transparent;
    border: 1px solid #fff;
    color: white;
    font-size: 18px;
    transition: 0.3s ease-in-out;
    text-shadow: white 0px 0px 10px;
}

.contact .fields .submit button:hover {
    background: #fff;
    color: #111;
}



.projects .owl-carousel {
    width: 1100px !important;
}


.certificates .owl-carousel {
    width: 1100px !important;
}


.testimonials .owl-carousel {
    width: 1000px !important;
}

/*  */


.owl-dots {
    text-align: center;
    margin-top: 20px;
}
.owl-dot {
    height: 13px;
    width: 13px;
    margin: 0 5px;
    outline: none !important;
    border-radius: 50%;
    border: 1px solid #fff !important;
    transition: all 0.3s ease;
}
  
.owl-dot.active {
    width: 35px;
    border-radius: 14px;
}
  
.owl-dot.active,
.owl-dot:hover {
    background: #fff !important;
}
  
/* media query */

@media (max-width: 1400px) {

    header {
        height: 3em;
    }
    h1 {
        font-size: 22px;
    }
    .about p,
    .home p {
        flex-basis: 0;
        flex-grow: 1;
        font-size: 18px !important;
        overflow: auto;
        text-align: justify;
        clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
    } 

    .projects .owl-carousel, 
    .certificates .owl-carousel {
        width: 700px !important;
    }   


    .testimonials .owl-carousel {
        width: 500px !important;
    }

    .contact {
        width: 50em;
    }

    .contact li {
        font-size: 10px !important;
    }



    .contact input {
        width: 30em !important;
        font-size: 8px !important;
    }
    
    .contact button {
        font-size: 8px !important;
    }


}

@media (max-width: 964px) {

    header {
        height: 3em;
    }

    header img {
        height: 20px;
        width: 20px;
    }

    h1 {
        width: 50%;
        font-size: 34px;
    }
    .about p {
        flex-basis: 0;
        flex-grow: 1;
        font-size: 16px !important;
        overflow: auto;
        text-align: justify;
        clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
    } 

    .projects .owl-carousel, 
    .certificates .owl-carousel {
        width: 500px !important;
    }   


    .testimonials .owl-carousel {
        width: 300px !important;
    }
    
    .contact {
        width: 35em;
    }

    .contact li {
        font-size: 10px !important;
    }

    .contact .text-container {
        width: 20em;
    }

    .contact input {
        width: 20em !important;
        font-size: 8px !important;
    }
    
    .contact button {
        font-size: 8px !important;
    }

    
    
}

@media (max-width: 800px) {
    header {
        height: 3em;
    }
    header img {
        height: 15px;
        width: 15px;
    }

    nav a {
        font-size: 10px !important;
    }

    h1 {
        width: 30%;
        font-size: 28px;
    }
    .about p {
        flex-basis: 0;
        flex-grow: 1;
        font-size: 12px !important;
        overflow: auto;
        text-align: justify;
        clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
    } 

    .projects .owl-carousel, 
    .certificates .owl-carousel {
        width: 300px !important;
    }   

    .testimonials span {
        font-size: 12px !important;
    }
    .testimonials .owl-carousel {
        width: 200px !important;
    }

    #home {
        width: 100% !important;
    }
    .contact {
        width: 30em;
    }

    .contact li {
        font-size: 10px !important;
    }



}

@media (max-width: 520px) {
    
    header {
        height: 3em;
    }
    header li a {
        font-size: 7px !important;
    }
    header ul li {
        display: block;
    }
    
    #home {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .home {
        width: 80%;
    }

    h1 {
        font-size: 10px;
    }

    .home h1 {
        font-size: 10px;
    }
    .about p,
    .home p {
        flex-basis: 0;
        flex-grow: 1;
        font-size: 0.5em !important;
        overflow: auto;
        text-align: justify;
        clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
    } 

    .projects .owl-carousel, 
    .certificates .owl-carousel {
        width: 200px !important;
    }   


    .testimonials .owl-carousel {
        width: 170px !important;
    }

    .testimonials span {
        font-size: 10px !important;
    }


    .contact {
        width: 17em;
        gap: 1em;
    }

    .contact .fields .field {
        width: 100%;
        height: 100%;
    }

    .contact input {
        width: 10em !important;
        font-size: 8px !important;
    }
    
    .contact input,
    .contact textarea {
        font-size: 8px !important;
    }

    .contact .fields .submit {
        width: 100%;
    }
    .contact .fields .submit button {
        font-size: 8px;
    }

    .contact li {
        font-size: 7px !important;
    }

    .contact .submit {
        width: 50%;
    }

    
    
}

